<!-- Header -->
<div id="header">

    <div class="top">

        <!-- Logo -->
        <div id="logo">
            <span class="image avatar48"><img src="{{ .Site.BaseURL }}/img/avatar.jpg" alt="" /></span>
            <h1 id="title">{{ .Site.Params.name }}</h1>
            <p>{{ .Site.Params.description }}</p>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <!--

                            Prologue's nav expects links in one of two formats:

                            1. Hash link (scrolls to a different section within the page)

                               <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

                            2. Standard link (sends the user to another page/site)

                               <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

                        -->
            <ul>
                <li><a href="{{ .Site.BaseURL }}#top" id="top-link" class="skel-layers-ignoreHref"><span
                            class="icon fa-home">Intro</span></a></li>
                {{ range where .Site.RegularPages ".Dir" "eq" "/"}}
                <li><a href="{{ .Site.BaseURL }}#{{ .File.BaseFileName }}" id="{{ .File.BaseFileName }}-link" class="skel-layers-ignoreHref"><span
                            class="icon {{ .Params.icon }}">{{ .Title }}</span></a></li>
                {{ end }}
            </ul>
        </nav>

    </div>

    <div class="bottom">

        <!-- Social Icons -->
        <ul class="icons">
            {{ range .Site.Params.social }}
            <li><a href="{{ .link }}" class="icon fa-{{ .icon }}"><span class="label">{{ .medium }}</span></a></li>
            {{ end }}
        </ul>

    </div>

</div>