<div class="row">
    <div class="4u 12u$(mobile)">
        {{ range .Site.Params.portfolio1 }}
        <article class="item">
            <a href="{{ .url }}" class="image fit"><img src="{{ .source }}" alt="{{ .alt }}" /></a>
            <header>
                <h3>{{ .title }}</h3>
            </header>
        </article>
        {{ end }}
    </div>

    <div class="4u 12u$(mobile)">
        {{ range .Site.Params.portfolio2 }}
        <article class="item">
            <a href="{{ .url }}" class="image fit"><img src="{{ .source }}" alt="{{ .alt }}" /></a>
            <header>
                <h3>{{ .title }}</h3>
            </header>
        </article>
        {{ end }}
    </div>

    <div class="4u 12u$(mobile)">
        {{ range .Site.Params.portfolio3 }}
        <article class="item">
            <a href="{{ .url }}" class="image fit"><img src="{{ .source }}" alt="{{ .alt }}" /></a>
            <header>
                <h3>{{ .title }}</h3>
            </header>
        </article>
        {{ end }}
    </div>
</div>